<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hair B2B</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="../vendor/css/header&footerStyles.css">

    </head>
    <body>

        <div>
            <header>
                <div class="row">
                    <div class="col-md-6" align="left">
                        <h1>Hair BnB</h1>
                    </div>
                    <div class="col-md-6" align="right">
                        <button class="btn btn-success" onclick="document.getElementById('signUp').style.display='block'" style="width: 125px;" >Sign Up</button>
                        <button class="btn btn-success" onclick="document.getElementById('login').style.display='block'" style="width: 125px;">Login</button>
                    </div>
                </div>
            </header>


            <div class="flex-container">

                <h2 align="center" style="margin-bottom:2%;background-color: #d4edda">Search Results</h2>

                <div class="row col-md-12" >
<div class="col-md-1"></div>
                    <div class="card " style="width: 13rem; padding-top: 1%;background-color: black" align="center" >
                        <img class="card-img-top" src="../vendor/image/proPic.png" alt="Card image cap" style="width: 70%;" >
                        <div class="card-block" align="center">

                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Kandy, SL</p>

                            <div class="row" align="center" style="padding-left:12%">
                                <img src="../vendor/image/star.png" style="width:30px; height: 30%;size:auto">
                                <img src="../vendor/image/star.png" style="width:30px; height: 30%;size:auto">
                                <img src="../vendor/image/star.png" style="width:30px; height: 30%;size:auto">
                                <img src="../vendor/image/star.png" style="width:30px; height: 30%;size:auto">
                                <img src="../vendor/image/star.png" style="width:30px; height: 30%;size:auto">

                            </div>

                            <!--for($x=1;$x<=$starNumber;$x++) {-->
                            <!--echo '<img src="path/to/star.png" />';-->
                            <!--}-->
                            <!--if (strpos($starNumber,'.')) {-->
                            <!--echo '<img src="path/to/half/star.png" />';-->
                            <!--$x++;-->
                            <!--}-->
                            <!--while ($x<=5) {-->
                            <!--echo '<img src="path/to/blank/star.png" />';-->
                            <!--$x++;-->
                            <!--}-->


                            <a href="#" >More</a>
                        </div>
                    </div>

                </div>

            </div>


            <footer>
                <div class="row" >
                    <div class="col-md-2" >
                        REGISTERED USERS :
                        56,678
                    </div>
                    <div class="col-md-2">
                        TOTAL BOOKINGS :
                        56,678
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-2 " align="center">
                        <a href=" ">Find Hair Stylist</a><br>
                        <a href=" ">Find Salons</a><br>
                    </div>

                    <div class="col-md-2" align="center">
                        <a href="">About Us</a><br>
                        <a href="">How it Works</a><br>
                        <a href="">Team</a><br>
                        <a href="">Fees and Charges</a><br>

                    </div>

                    <div class="col-md-2" align="center">
                        <a href="">Testimonials</a><br>
                        <a href="">Awards</a><br>

                    </div>

                    <div class="col-md-2" align="center">
                        <a href="">Contact Us</a><br>
                        <a href="">Help</a><br>
                    </div>

                    <div class="col-md-2" align="center">
                        <a href="">Privacy Policy</a><br>
                        <a href="">Terms and Conditions</a><br>
                        <a href="">Copyright Policy</a><br>
                    </div>
                </div>
                <div align="center" style="margin-top: 20px">
                    Copyright &copy; HairB2B.com
                </div>

            </footer>
        </div>

    </body>
</html>