<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Hair B2B</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


    </head>
    <body>

        <div class="col-xs-12">
            <div class="col-xs-6" align="left">
                <p>Hair BnB</p>
            </div>
            <div class="col-xs-6" align="right">
                <button class="btn btn-success" onclick="document.getElementById('signUp').style.display='block'" style="width:auto;">Sign Up</button>
                <button class="btn btn-success" onclick="document.getElementById('login').style.display='block'" style="width:auto;">Login</button>
            </div>
        </div>
        <div class="col-xs-12">
            <h1>Hire expert hair stylist for your job, online.</h1>
            <a href="">Sign up for free!</a>
            <div class="col-xs-12">
                <button class="btn btn">I want to hire</button>
                <button class="btn btn">I want to work</button>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-6" align="left">
                    <h2>How it works?</h2>
                    <p>asdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6>">
                    <p>treywe5454w</p>
                    <p>reyrrrrrrrr</p>
                </div>
            </div>


        </div>
    </body>
</html>